:root{
    --signcolor:linear-gradient(to right,#a504ff,#804efe);
}
/* Hiding the scrollbar */
body::-webkit-scrollbar{
    display: none;
}
/* Fixing the title iframe on the top so it dosen't move with the page */
header{
    height: 50px;
    z-index: 99;
    display: block;
    background: white;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
}
/* Aligning navigation bar and main content to left side, leaving no gap*/
nav,section{
    position: absolute;
    left: 0;
}
/* To show the title in full width */
#headeriframe{
    width: 100%;
    height: 50px;
}
/* Coloring the website title */
#name{
    display: inline-block;
    font-size: 40px;
    background: var(--signcolor);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Putting link iframe and navigation bar on same line */
nav{
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 50px;
}

#content{
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;  
    width: 70px;
}

#content:hover{
    background-image: var(--signcolor);
    cursor: pointer;
}

section{
    position: absolute;
    top: 80px;
}

#prext{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.prext{
    width: 10vh;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    background-image: var(--signcolor);
    border-radius: 10px;
    display: inline-block;
    color: white;
}

#iframe{
    z-index: 99;
}

li{
    margin: 0%;
    display: inline-block;
    width: 60px;
    height: 20px;
    padding: 5px;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

ul{
    height: inherit;
    margin-top: 0%;
    padding-left: 0%;
}
section{
    margin:0%;
}
h1{
    text-transform: capitalize;
    font-size: 5vw;
    text-align: center;
    margin: 0%;
}

p{
    font-size: 3vw;
    text-align: justify;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
img{
    display: block;
    margin: auto;
    width: 50vw;
}

#note{
    font-size: 3.0vw;
    padding: 10px;
    background: var(--signcolor);
    border-radius: 10px;
}

.iframeshow{
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 80px;
    height: 100%;
}

.iframenoshow{
    display: none;
}

.codespace{
    background-color: #eeeeee;
    font-size: 2vw;
    padding: 10px;
    border-radius: 10px;
}

.darkmode-toggle{
    background-color: #111111;
    color: white;
}

.codespace-darkmode{
    background: var(--signcolor);
    color: white;
}